/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Noto sans JP', sans-serif;
    line-height: 1.6;
  }
  
  /* Container styles */
  .container {
    display: flex;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }
  
  /* Sidebar styles */
  .sidebar {
    height: 100vh;
    width: 250px;
    padding: 20px;
    border-right: 1px solid #ddd;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
  }
  
  .sidebar header h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .sidebar nav ul {
    list-style: none;
  }
  
  .sidebar nav ul li {
    margin-bottom: 10px;
  }
  
  .sidebar nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    display: block;
    padding: 5px;
    transition: all 0.3s ease;
  }
  
  .sidebar nav ul li a:hover {
    background-color: #e0e0e0;
    border-radius: 4px;
  }
  
  /* Main content area */
  .main-content {
    flex: 1;
    padding: 40px;
    margin-left: 250px;
  }

  .main-image {
    flex: 1;
    padding: 40px;
    margin-left: -79px;
  }
  
  /* Image styling */
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
  }

  /* Second Page Layout */

  /* Active navigation link */
.sidebar nav ul li a.active {
    background-color: #ddd;
    font-weight: bold;
}

/* Page headings */
h1 {
  color: #1F2937;
}

h2 {
    margin: 0 0 20px 0;
    color: #1F2937;
    border-bottom: 2px solid #f4f4f4;
    padding-bottom: 10px;
}

h3 {
    margin: 25px 0 15px 0;
    color: #444;
}

/* Paragraph styling */
p {
  font-family: 'Noto Serif JP', serif;
    margin-bottom: 15px;
    line-height: 1.25;

}

/* animation */
@keyframes fade-up{
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }
}

/* Gallery layout */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    align-items: start;
    gap: 15px;
    margin: 30px 0;
}

.gallery-item {
    display: block;
    border: 0px solid #eee;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.gallery-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.gallery-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0;
}

.caption {
    padding: 10px;
    text-align: center;
    font-weight: 500;
    margin: 0;
}

#FullImageView {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.998);
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

#FullImage {
  width: 1620px;
  height: 1080px;
  object-fit: contain; 
  margin: 0 auto;
  animation: fade-up 0.5s;
}

#CloseButton {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 50px;
  font-size: 2rem;
  color: #ddd;
}

@media screen and (max-width: 768px)  {
  .container {
    flex-direction: column;
  }
  
  /* Adjust sidebar for top placement */
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    border-right: none;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    z-index: auto;
  }
  

  .sidebar header h1 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .sidebar nav ul {
    display: flex;
    flex-wrap: wrap;
  }

  .sidebar nav ul li {
    margin-right: 15px;
    margin-bottom: 5px;
  }

  .main-content {
      margin-left: 0;
      padding: 30px; /* Tweaked for image to not overlap with Nav */
      height: 15px;
      width: auto;
  }
}